Repository ucdavis/PolicyWonk: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines.yml

azure-pipelines-backend.yml:
  stages:
  - stage: BuildPush
    displayName: Build and push on main changes
    jobs:
    - job: BuildPushJob
      displayName: Build (always) / Push (main only)
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
      - task: Docker@2
        displayName: docker build
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildPush
    displayName: Build and push on main changes
    jobs:
    - job: BuildPushJob
      displayName: Build (always) / Push (main only)
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
      - task: Docker@2
        displayName: docker build
        inputs:
  ...

replace chunk with document when tokens are small
  web/src/models/chat.ts
  web/src/services/chatService.ts
Due: azure-pipelines.yml

make doc_tokens optional for type + check they exist
  web/src/models/chat.ts
  web/src/services/chatService.ts
Due: azure-pipelines.yml

Harden deployment gates and verify test-to-production releases
  .github/workflows/deploy-azure-webapp.yml
  README.md
  azure-pipelines-backend.yml
  azure-pipelines.yml
  backend/.dockerignore
  backend/Dockerfile
  backend/background/update.py
  deploy/README.md
  deploy/github-main-ruleset.json
  deploy/identity/README.md
  deploy/identity/main.bicep
  deploy/identity/registry-pull.bicep
  deploy/scripts/release_summary.py
  deploy/scripts/verify.py
  deploy/templates/acceptance.yml
  deploy/templates/release-summary.yml
  deploy/templates/web-deploy.yml
  deploy/templates/worker-deploy.yml
  deploy/tests/test_release_summary.py
  deploy/tests/test_verify.py
  web/.dockerignore
  web/Dockerfile
  web/src/app/api/health/route.test.ts
  web/src/app/api/health/route.ts
  web/src/proxy.ts
  web/vitest.config.mts
Due: azure-pipelines-backend.yml, azure-pipelines.yml

Align CodeQL scanning with the remaining application languages
  deploy/README.md
  deploy/github-codeql.json
  deploy/identity/README.md
Due: none

Document asynchronous CodeQL configuration validation
  deploy/README.md
Due: none

Simplify deployment checks around the existing pipelines
  azure-pipelines-backend.yml
  azure-pipelines.yml
  backend/Dockerfile
  backend/background/update.py
  deploy/README.md
  deploy/github-codeql.json
  deploy/github-main-ruleset.json
  deploy/identity/README.md
  deploy/identity/main.bicep
  deploy/identity/registry-pull.bicep
  deploy/scripts/release_summary.py
  deploy/scripts/verify.py
  deploy/templates/acceptance.yml
  deploy/templates/release-summary.yml
  deploy/templates/web-deploy.yml
  deploy/templates/worker-deploy.yml
  deploy/tests/test_release_summary.py
  deploy/tests/test_verify.py
  web/Dockerfile
  web/src/app/api/health/route.test.ts
  web/src/app/api/health/route.ts
  web/src/proxy.ts
  web/vitest.config.mts
Due: azure-pipelines-backend.yml, azure-pipelines.yml

Tighten deployment checks while keeping the existing pipelines (#168)
  .github/workflows/deploy-azure-webapp.yml
  README.md
  azure-pipelines-backend.yml
  azure-pipelines.yml
  backend/.dockerignore
  deploy/README.md
  web/.dockerignore
  web/Dockerfile
Due: azure-pipelines-backend.yml, azure-pipelines.yml

Use US OpenAI endpoint for test ingestion worker
  azure-pipelines-backend.yml
Due: none

Use US OpenAI endpoint for production worker deploys too
  azure-pipelines-backend.yml
Due: none

Use US OpenAI endpoint for test and production ingestion workers (#169)
  azure-pipelines-backend.yml
Due: none

Add privacy-reviewed model comparison runner and baseline results
  evaluation/.gitignore
  evaluation/runner/README.md
  evaluation/runner/RESULTS-2026-09-21.md
  evaluation/runner/core.mjs
  evaluation/runner/core.test.mjs
  evaluation/runner/curated.json
  evaluation/runner/judge-input.mjs
  evaluation/runner/judge-input.test.mjs
  evaluation/runner/launch.py
  evaluation/runner/package-lock.json
  evaluation/runner/package.json
  evaluation/runner/report.mjs
  evaluation/runner/report.test.mjs
  evaluation/runner/requirements.txt
  evaluation/runner/runner.mts
  evaluation/runner/sample.py
  evaluation/runner/sample_test.py
Due: none

Replace UCOP scraper with validated public API listing
  backend/README.md
  backend/background/sources/ucop.py
  backend/tests/test_ucop.py
Due: azure-pipelines-backend.yml

Replace UCOP scraper with validated public API listing (#172)
  backend/README.md
  backend/background/sources/ucop.py
  backend/tests/test_ucop.py
Due: azure-pipelines-backend.yml

Upgrade document readers and add policy extraction regressions
  backend/README.md
  backend/requirements.txt
  backend/tests/fixtures/ingestion/README.md
  backend/tests/fixtures/ingestion/manifest.json
  backend/tests/fixtures/ingestion/ucd-capital-project-delegation.pdf
  backend/tests/fixtures/ingestion/ucd-chemical-safety.pdf
  backend/tests/fixtures/ingestion/ucd-integrity-in-research.docx
  backend/tests/fixtures/ingestion/ucd-performance-management.docx
  backend/tests/fixtures/ingestion/ucop-abusive-conduct.pdf
  backend/tests/fixtures/ingestion/ucop-non-cash-awards.pdf
  backend/tests/fixtures/ingestion/ucop-personal-leave.pdf
  backend/tests/fixtures/ingestion/ucop-religious-holiday-move-in.pdf
  backend/tests/fixtures/ingestion/ucop-travel.pdf
  backend/tests/test_ingestion.py
Due: azure-pipelines-backend.yml

Upgrade document readers and add policy extraction regressions (#175)
  backend/README.md
  backend/requirements.txt
  backend/tests/fixtures/ingestion/README.md
  backend/tests/fixtures/ingestion/manifest.json
  backend/tests/fixtures/ingestion/ucd-capital-project-delegation.pdf
  backend/tests/fixtures/ingestion/ucd-chemical-safety.pdf
  backend/tests/fixtures/ingestion/ucd-integrity-in-research.docx
  backend/tests/fixtures/ingestion/ucd-performance-management.docx
  backend/tests/fixtures/ingestion/ucop-abusive-conduct.pdf
  backend/tests/fixtures/ingestion/ucop-non-cash-awards.pdf
  backend/tests/fixtures/ingestion/ucop-personal-leave.pdf
  backend/tests/fixtures/ingestion/ucop-religious-holiday-move-in.pdf
  backend/tests/fixtures/ingestion/ucop-travel.pdf
  backend/tests/test_ingestion.py
Due: azure-pipelines-backend.yml

Add optional GPT-6 Luna reranking with evidence coverage checks
  web/README.md
  web/src/app/api/chat/route.ts
  web/src/lib/chat/citationsTransform.test.ts
  web/src/services/chatService.test.ts
  web/src/services/chatService.ts
  web/src/services/rerankService.test.ts
  web/src/services/rerankService.ts
  web/vitest.config.mts
Due: azure-pipelines.yml

Make reranker model configurable through environment
  web/README.md
  web/src/services/chatService.ts
Due: azure-pipelines.yml

Add GPT-6 Luna reranking with a rollback flag and evidence checks (#176)
  web/README.md
  web/src/app/api/chat/route.ts
  web/src/lib/chat/citationsTransform.test.ts
  web/src/services/chatService.test.ts
  web/src/services/chatService.ts
  web/src/services/rerankService.test.ts
  web/src/services/rerankService.ts
  web/vitest.config.mts
Due: azure-pipelines.yml

Fix RRF rank window parameter for Elasticsearch 9
  web/src/services/chatService.test.ts
  web/src/services/chatService.ts
Due: azure-pipelines.yml

Fix RRF rank window parameter for Elasticsearch 9 (#177)
  web/src/services/chatService.test.ts
  web/src/services/chatService.ts
Due: azure-pipelines.yml

Discover UC contracts through validated sitemaps
  backend/README.md
  backend/background/sources/collective_bargaining.py
  backend/experiments/compare_uc_contracts.py
  backend/experiments/uc_contracts_sitemap_validation.md
  backend/tests/fixtures/ucnet/README.md
  backend/tests/fixtures/ucnet/pages.json
  backend/tests/test_collective_bargaining.py
Due: azure-pipelines-backend.yml

no-mistakes(document): Correct UC contracts documentation and consolidate rollout guidance
  backend/README.md
  backend/experiments/uc_contracts_sitemap_validation.md
Due: azure-pipelines-backend.yml

fix(backend): improve UC contracts discovery using sitemaps (#178)
  backend/README.md
  backend/background/sources/collective_bargaining.py
  backend/experiments/compare_uc_contracts.py
  backend/experiments/uc_contracts_sitemap_validation.md
  backend/tests/fixtures/ucnet/README.md
  backend/tests/fixtures/ucnet/pages.json
  backend/tests/test_collective_bargaining.py
Due: azure-pipelines-backend.yml

Add SV and RP to union focus options
  web/src/models/focus.ts
Due: azure-pipelines.yml

Add SV and RP to union focus options (#179)
  web/src/models/focus.ts
Due: azure-pipelines.yml

Build campus-scoped union catalog from indexed contracts
  backend/background/contract_metadata.py
  backend/background/sources/collective_bargaining.py
  backend/background/stream.py
  backend/dev/backfill_contract_catalog.py
  backend/tests/test_collective_bargaining.py
  backend/tests/test_contract_metadata.py
  docs/bargaining-unit-catalog.md
  web/src/app/(home)/[group]/chat/[chatid]/page.test.tsx
  web/src/app/(home)/[group]/chat/[chatid]/page.tsx
  web/src/app/api/chat/route.ts
  web/src/app/api/unions/route.test.ts
  web/src/app/api/unions/route.ts
  web/src/components/chat/ask/focusBar.tsx
  web/src/components/chat/ask/focusOptions.tsx
  web/src/components/chat/ask/unionSelection.tsx
  web/src/lib/elastic.ts
  web/src/models/focus.ts
  web/src/services/chatService.ts
  web/src/services/unionCatalog.test.ts
  web/src/services/unionCatalog.ts
  web/src/services/unionRetrieval.test.ts
Due: azure-pipelines-backend.yml, azure-pipelines.yml

no-mistakes(document): Correct stale metadata guidance and link catalog documentation
  README.md
  backend/README.md
Due: azure-pipelines-backend.yml

no-mistakes(lint): Format changed Python files with autopep8
  backend/background/contract_metadata.py
  backend/background/sources/collective_bargaining.py
  backend/dev/backfill_contract_catalog.py
  backend/tests/test_collective_bargaining.py
  backend/tests/test_contract_metadata.py
Due: azure-pipelines-backend.yml

Continue contract metadata refresh after individual failures
  backend/background/stream.py
  backend/dev/backfill_contract_catalog.py
  backend/tests/test_contract_metadata.py
  docs/bargaining-unit-catalog.md
Due: azure-pipelines-backend.yml

no-mistakes(review): Fail backfills on refresh shard failures
  backend/dev/backfill_contract_catalog.py
  backend/tests/test_contract_metadata.py
Due: azure-pipelines-backend.yml

no-mistakes(document): Clarify manual backfill and refresh failure handling
  docs/bargaining-unit-catalog.md
Due: none

feat: derive bargaining-unit choices from indexed contracts (#180)
  README.md
  backend/README.md
  backend/background/contract_metadata.py
  backend/background/sources/collective_bargaining.py
  backend/background/stream.py
  backend/dev/backfill_contract_catalog.py
  backend/tests/test_collective_bargaining.py
  backend/tests/test_contract_metadata.py
  docs/bargaining-unit-catalog.md
  web/src/app/(home)/[group]/chat/[chatid]/page.test.tsx
  web/src/app/(home)/[group]/chat/[chatid]/page.tsx
  web/src/app/api/chat/route.ts
  web/src/app/api/unions/route.test.ts
  web/src/app/api/unions/route.ts
  web/src/components/chat/ask/focusBar.tsx
  web/src/components/chat/ask/focusOptions.tsx
  web/src/components/chat/ask/unionSelection.tsx
  web/src/lib/elastic.ts
  web/src/models/focus.ts
  web/src/services/chatService.ts
  web/src/services/unionCatalog.test.ts
  web/src/services/unionCatalog.ts
  web/src/services/unionRetrieval.test.ts
Due: azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-backend.yml: any of: backend
  azure-pipelines.yml: any of: web
