Repository ucdavis/PolicyWonk: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines.yml

azure-pipelines-backend.yml:
  stages:
  - stage: BuildPush
    displayName: Build and push on main changes
    jobs:
    - job: BuildPushJob
      displayName: Build (always) / Push (main only)
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
      - task: Docker@2
        displayName: docker build
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildPush
    displayName: Build and push on main changes
    jobs:
    - job: BuildPushJob
      displayName: Build (always) / Push (main only)
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
      - task: Docker@2
        displayName: docker build
        inputs:
  ...

upgrade next-auth
  web/package-lock.json
  web/package.json
Due: azure-pipelines.yml

prod backend deployments
  azure-pipelines-backend.yml
Due: none

test needs to succeed to deploy to prod
  azure-pipelines-backend.yml
Due: none

remove anything related to document_chunks
  evaluation/datasets/generate_dataset.py
  web/prisma/schema.prisma
  web/src/app/api/chat/completions/route.ts
  web/src/services/chatService.ts
Due: azure-pipelines.yml

removed unused
  web/src/app/global-error.tsx
  web/src/services/chatService.ts
Due: azure-pipelines.yml

backend change to trigger deploy
  backend/README.md
Due: azure-pipelines-backend.yml

button navigation fix
  web/src/components/layout/collapsibleSidebar.tsx
Due: azure-pipelines.yml

changed conditional + removed default
  web/src/components/layout/collapsibleSidebar.tsx
Due: azure-pipelines.yml

env update
  backend/.env.example
Due: azure-pipelines-backend.yml

comment
  web/src/components/layout/collapsibleSidebar.tsx
Due: azure-pipelines.yml

env2
  backend/.env.example
Due: azure-pipelines-backend.yml

make sure index is setup and verified before we run
  backend/background/update.py
  backend/background/util/elastic.py
  backend/background/vectorize.py
Due: azure-pipelines-backend.yml

use secure string and new defaults
  backend/background/util/elastic.py
Due: azure-pipelines-backend.yml

fail if ES setup fails
  backend/background/update.py
Due: azure-pipelines-backend.yml

allow missing some fields we don't initially need
  backend/background/util/elastic.py
Due: azure-pipelines-backend.yml

url updates now
  web/src/components/chat/main.tsx
  web/src/components/layout/collapsibleSidebar.tsx
Due: azure-pipelines.yml

added reasoning effort
  web/src/lib/actions.tsx
Due: azure-pipelines.yml

changed default llm model
  web/src/services/chatService.ts
Due: azure-pipelines.yml

use pymupdf to get markdown from txt based files
  backend/Dockerfile
  backend/background/sources/ingestion.py
  backend/background/sources/shared.py
  backend/background/stream.py
Due: azure-pipelines-backend.yml

fix some pylance issues
  backend/background/sources/ingestion.py
Due: azure-pipelines-backend.yml

update mypdf
  backend/background/sources/ingestion.py
  backend/requirements.txt
Due: azure-pipelines-backend.yml

some checks to make sure our ingest is working
  backend/experiments/ingest_sanity.py
Due: azure-pipelines-backend.yml

use chunks when sending embeddings to azure
  backend/.env.example
  backend/background/util/elastic.py
  backend/background/vectorize.py
Due: azure-pipelines-backend.yml

make search fieldname variable
  web/src/services/chatService.ts
Due: azure-pipelines.yml

check env
  web/src/services/chatService.ts
Due: azure-pipelines.yml

source_id mapping to scope
  web/src/models/focus.ts
  web/src/services/chatService.ts
Due: azure-pipelines.yml

store source type with doc
  backend/background/vectorize.py
Due: azure-pipelines-backend.yml

must succeed build to push
  azure-pipelines-backend.yml
Due: none

cleanup to not use cuda in builds
  backend/Dockerfile
  backend/README.md
  backend/requirements-dev.txt
  backend/requirements.txt
Due: azure-pipelines-backend.yml

new mappings
  web/src/models/focus.ts
  web/src/services/chatService.ts
Due: azure-pipelines.yml

fixed search term
  web/src/services/chatService.ts
Due: azure-pipelines.yml

removed extra env check
  web/src/services/chatService.ts
Due: azure-pipelines.yml

changed order of reloads
  web/src/components/chat/main.tsx
Due: azure-pipelines.yml

change to replace
  web/src/components/chat/main.tsx
Due: azure-pipelines.yml

ability to do dev bypass auth logins
  web/src/app/auth/login/page.tsx
  web/src/auth.ts
  web/src/lib/devAuthBypass.ts
Due: azure-pipelines.yml

upgrade to aisdk6 and remove RSC
  .gitignore
  web/package-lock.json
  web/package.json
  web/src/app/(home)/[group]/chat/[chatid]/page.tsx
  web/src/app/(home)/[group]/share/[shareid]/page.tsx
  web/src/app/api/chat/route.ts
  web/src/components/chat/answer/chatActions.tsx
  web/src/components/chat/answer/feedbackButtons.tsx
  web/src/components/chat/answer/shareModal.tsx
  web/src/components/chat/answer/wonkMessage.tsx
  web/src/components/chat/ask/chatInput.tsx
  web/src/components/chat/ask/defaultQuestions.tsx
  web/src/components/chat/main.tsx
  web/src/lib/actions.tsx
  web/src/lib/aiProvider.tsx
  web/src/lib/chat/citationsTransform.test.ts
  web/src/lib/chat/citationsTransform.ts
  web/src/lib/hooks/useStreamableText.ts
  web/vitest.config.mts
Due: azure-pipelines.yml

better redirect/refresh of page
  web/src/app/(home)/[group]/chat/[chatid]/loading.tsx
  web/src/app/api/history/route.ts
  web/src/components/chat/main.tsx
  web/src/components/chatHistory/chatHistory.tsx
  web/src/components/chatHistory/chatHistoryWrapper.tsx
Due: azure-pipelines.yml

wonk messages are back
  web/eslint.config.mjs
  web/src/app/api/chat/route.ts
  web/src/app/api/documents/route.ts
  web/src/app/auth/login/page.tsx
  web/src/app/global-error.tsx
  web/src/components/chat/answer/feedbackButtons.tsx
  web/src/components/chat/answer/shareModal.tsx
  web/src/components/chat/answer/wonkMessage.tsx
  web/src/components/chat/ask/chatInput.tsx
  web/src/components/chat/main.tsx
  web/src/components/chatHistory/chatHistory.tsx
  web/src/components/chatHistory/chatHistoryWrapper.tsx
  web/src/components/chatHistory/deleteChatButton.tsx
  web/src/components/layout/collapsibleSidebarProvider.tsx
  web/src/lib/actions.tsx
  web/src/lib/chat/citationsTransform.test.ts
  web/src/lib/chat/citationsTransform.ts
  web/src/lib/gtagProvider.tsx
  web/vitest.config.mts
Due: azure-pipelines.yml

removed blue outline on autoscroll completion
  web/src/app/styles/_layout.scss
Due: azure-pipelines.yml

hybrid search
  web/src/app/api/chat/route.ts
  web/src/services/chatService.ts
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-backend.yml: any of: backend
  azure-pipelines.yml: any of: web
