Repository ucdavis/PolicyWonk: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-backend.yml: any of: backend
  azure-pipelines.yml: any of: web

back to CLI
  azure-pipelines-backend.yml
Due: none

Update azure-pipelines-backend.yml for Azure Pipelines
  azure-pipelines-backend.yml
Due: none

pass along pass
  azure-pipelines-backend.yml
Due: none

linux os type
  azure-pipelines-backend.yml
Due: none

try/catch for ingest errors
  backend/background/stream.py
Due: azure-pipelines-backend.yml

collective bargaining
  backend/background/sources/cb.py
Due: azure-pipelines-backend.yml

grab systemwide vs. local links
  backend/background/sources/cb.py
Due: azure-pipelines-backend.yml

remove unused
  backend/background/sources/cb.py
Due: azure-pipelines-backend.yml

ok looks good
  web/src/services/chatService.ts
Due: azure-pipelines.yml

new stream for collective bargaining
  backend/background/sources/cb.py
  backend/background/sources/collective_bargaining.py
  backend/background/stream.py
Due: azure-pipelines-backend.yml

extract campuses to one list
  backend/background/sources/collective_bargaining.py
  web/src/services/chatService.ts
Due: azure-pipelines-backend.yml, azure-pipelines.yml

oops
  backend/background/sources/collective_bargaining.py
Due: azure-pipelines-backend.yml

Initial sidebar logic
  web/package-lock.json
  web/package.json
  web/src/app/styles/_wonksidebar.scss
  web/src/components/chat/answer/wonkAnswer.tsx
  web/src/components/chat/answer/wonkMessage.tsx
  web/src/components/layout/sourceSidebar.tsx
  web/src/lib/actions.tsx
  web/src/services/chatService.ts
Due: azure-pipelines.yml

partial fix for markdown and styling
  web/package-lock.json
  web/package.json
  web/src/app/styles/_wonksidebar.scss
  web/src/components/layout/sourceSidebar.tsx
  web/src/lib/actions.tsx
  web/src/lib/markdown.tsx
  web/src/services/chatService.ts
Due: azure-pipelines.yml

cleanup
  web/src/app/styles/_wonksidebar.scss
  web/src/components/layout/sourceSidebar.tsx
  web/src/lib/markdown.tsx
Due: azure-pipelines.yml

update dockerfile to install node directly
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

just use regular pg17
  .devcontainer/docker-compose.yml
Due: none

remove doc chunks & pgvector
  backend/db/models.py
  backend/db/mutations.py
Due: azure-pipelines-backend.yml

vectorize back to elastic
  backend/.env.example
  backend/background/util/elastic.py
  backend/background/vectorize.py
  backend/db/mutations.py
Due: azure-pipelines-backend.yml

remove chunks, keep using pgvector image
  .devcontainer/docker-compose.yml
  backend/alembic/versions/f575d8ae25af_remove_docchunks.py
Due: azure-pipelines-backend.yml

add elastic properly
  backend/README.md
  backend/background/vectorize.py
  backend/requirements.txt
Due: azure-pipelines-backend.yml

use venv
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

test to see playwright is working
  backend/README.md
  backend/experiments/playwright_smoke.py
Due: azure-pipelines-backend.yml

add parent metadata
  backend/background/vectorize.py
Due: azure-pipelines-backend.yml

pin docling
  backend/requirements.txt
Due: azure-pipelines-backend.yml

Updates AI SDK and dependencies
  web/package-lock.json
  web/package.json
  web/src/components/chat/answer/chatActions.tsx
  web/src/components/chat/answer/feedbackButtons.tsx
  web/src/components/chat/answer/shareModal.tsx
  web/src/components/chat/answer/wonkMessage.tsx
  web/src/components/chat/ask/chatInput.tsx
  web/src/components/chat/ask/defaultQuestions.tsx
  web/src/components/chat/main.tsx
  web/src/lib/actions.tsx
  web/src/lib/aiProvider.tsx
  web/src/lib/hooks/useStreamableText.ts
  web/src/lib/util.ts
  web/src/models/chat.ts
  web/src/services/chatService.ts
  web/src/services/historyService.ts
  web/src/services/loggingService.ts
Due: azure-pipelines.yml

downgrade vector
  backend/alembic/versions/f575d8ae25af_remove_docchunks.py
Due: azure-pipelines-backend.yml

delete existing by url
  backend/background/vectorize.py
Due: azure-pipelines-backend.yml

update readme
  backend/README.md
Due: azure-pipelines-backend.yml

merge to retain chunk level meta
  backend/background/vectorize.py
Due: azure-pipelines-backend.yml

don't forget to include sourceId
  backend/background/vectorize.py
Due: azure-pipelines-backend.yml

update next to non-vulnerable version
  web/package-lock.json
  web/package.json
Due: azure-pipelines.yml

some notes about running locally
  backend/README.md
  backend/background/sources/shared.py
Due: azure-pipelines-backend.yml

add new env vars
  azure-pipelines-backend.yml
Due: none

pass secure vars
  azure-pipelines-backend.yml
Due: none

use LLM_API_KEY for embeddings
  backend/background/util/elastic.py
Due: azure-pipelines-backend.yml

update to next 16 + codemods
  web/eslint.config.mjs
  web/package-lock.json
  web/package.json
  web/src/app/(home)/[group]/chat/[chatid]/page.tsx
  web/src/app/(home)/[group]/layout.tsx
  web/src/app/(home)/[group]/share/[shareid]/page.tsx
  web/src/app/(home)/chat/[chatid]/page.tsx
  web/src/app/(static)/layout.tsx
  web/src/app/api/group/route.ts
  web/src/app/auth/login/page.tsx
  web/src/app/global-error.tsx
  web/src/app/page.tsx
  web/src/components/layout/collapsibleSidebarProvider.tsx
  web/src/components/layout/footer.tsx
  web/src/lib/cookies.ts
  web/src/proxy.ts
  web/tsconfig.json
Due: azure-pipelines.yml

build error fixes
  web/src/app/(home)/[group]/layout.tsx
  web/src/app/(home)/[group]/page.tsx
  web/src/app/error.tsx
  web/src/app/groups/page.tsx
  web/src/components/chat/answer/feedbackBar.tsx
  web/src/components/chat/answer/wonkMessage.tsx
  web/src/components/chat/ask/chatInput.tsx
  web/src/components/layout/siteBrand.tsx
  web/src/services/chatService.ts
Due: azure-pipelines.yml

added await + added .env to web .gitignore
  web/.gitignore
  web/src/auth.ts
Due: azure-pipelines.yml

reverted previous .gitignore change
  web/.gitignore
Due: azure-pipelines.yml
